*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
    transition: all ease-out .3s !important;
    font-family:  'Dubai Light';
}

/** install font-family **/
@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Regular'), url('../fonts/Dubai-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('../fonts/Dubai-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Medium'), url('../fonts/Dubai-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Bold'), url('../fonts/Dubai-Bold.woff') format('woff');
    }
/****/

body{
    background-color: #ffffff;
}

/***  top bar style ***/
nav.navbar {
    text-align: center;
    display: block;
    height: 50px;
    cursor: default;
    
}
div#brand {
    display: inline-block;
    top: 2px;
    position: relative;
    font-family: 'Dubai Bold'
}
ul.menu-items li {
    display: inline-block;
    text-align: center;
    padding: 11px 6px;

}
ul.menu-items {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1px;
}
ul.social-items {
    display: inline-block;
    list-style: none;
}
.lang {
    display: inline-flex;
    padding: 0px 15px;
    list-style: none;
    position: relative;
    top: 1;
}
i {
    vertical-align: middle;
    
}
ul.social-items li {
    display: inline-block;
}
nav.navbar {
    padding: 0px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 9px #0000002b;
}
span.dash {
    padding: 0px 20px;
    color: black;
    opacity: 0.1;
    font-size: 15px;
}
nav.navbar a {
    color: black;
    font-size: 17px;
    position: relative;
    top: 1px;
 
}
.menu-items a{
    padding: 10px 0;
}
span.dash.left {
    padding-right: 4;
    position: relative;
    top: 1;
}
span.dash.right {
    padding-left: 4;
    position: relative;
    top: 1;
}
i.fab.fa-instagram {
    font-size: 19px;
}
ul.social-items li {
    padding-right: 4px;
}
i.fab.fa-facebook-f {
    font-size: 16px;
    position: relative;
}
i.fas.fa-angle-right {
    transform: rotate(90deg);
    padding: 0 5px;
    color: black;
    left: 3px;
    position: relative;
}
.lang a {
    position: relative;
    top: 2px !important;
}
ul.sub-menu1 li {
    padding: 4px 0;
}
a:hover {
    text-decoration: none !important;
}
lang a{
    text-decoration: line-through !important;
}
ul.lang-items a:hover {
    text-decoration: underline !important;
}
/* click events sub menu */


.lang .lang-items {
    
display: none;
    
}
.lang li ul {
    list-style: none;
    background: #ffffff;
    box-shadow: 0px 0px 9px #0000002e;
    height: 55px;
    border-radius: 4px;
    margin-top: 10px;

}
.lang:hover .lang-items {
    display: block;

}
.lang:hover i.fas.fa-angle-right {
    transform: rotate(270deg) !important;
    -webkit-transform:  rotate(270deg) !important;
}
.sub:hover .fa-angle-right {
    transform: rotate(270deg) !important;
}
ul.social-items i:hover {
    transform: translateY(-2px);
}
div#brand a {
    font-family: 'Dubai Bold';
    text-decoration: none;
}
/******** sub menu *******/

ul.sub-menu1 {
    display: none;
    position: absolute;
    width: 210px;
    top: 46px;
    background: white;
    -webkit-box-shadow: 0px 0px 9px #0000002e;
    border-radius: 4px;
}
ul.sub-menu1 li {
    display: block;
}
ul.sub-menu1 li:hover {
    background: #f3f3f3;
}
ul.sub-menu1 a {
    padding: 8px 32px;
    width: 100%;
    display: block;
    text-align: left;
}
.show-menu:hover .sub-menu1 {
    display: block; 
}