*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
    font-family:  'Dubai Light';
}
body{
    transition: none;
}
/** install font-family **/
@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Regular'), url('../fonts/Dubai-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('../fonts/Dubai-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Medium'), url('../fonts/Dubai-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Bold'), url('../fonts/Dubai-Bold.woff') format('woff');
    }
/****/

body{
    background-color: #ffffff;
    overflow: hidden;
}
/*///// loader-wrapper /////*/

    .lds-roller {
        width: 100%;
        height: 100vh;
        z-index: 999999999;
        position: fixed;
        display: flex;
        overflow: hidden !important;
        background: #191919;
        align-items: center;
        justify-content: center;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 32px 32px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        margin: -3px 0 0 -3px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
  
/*****/
/***  top bar style ***/
nav.navbar {
    text-align: center;
    display: block;
    height: 50px;
    cursor: default;
    z-index: 99999999;
    
}
div#brand {
    display: inline-block;
    top: 2px;
    position: relative;
    font-family: 'Dubai Bold'
}
ul.menu-items li {
    display: inline-block;
    text-align: center;
    padding: 11px 6px;

}
ul.menu-items {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1px;
}
ul.social-items {
    display: inline-block;
    list-style: none;
}
.lang {
    display: inline-flex;
    padding: 0px 15px;
    list-style: none;
    position: relative;
    top: 1;
}
i {
    vertical-align: middle;
    
}
ul.social-items li {
    display: inline-block;
}
nav.navbar {
    padding: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 25px #0000001a;
    -webkit-box-shadow: 0px 0px 25px #0000001a;
    position: fixed;
    width: 100%;
}
span.dash {
    padding: 0px 20px;
    color: white;
    opacity: 0.1;
    font-size: 15px;
}
nav.navbar a {
    color: #fff;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    top: 1px;
 
}
.menu-items a{
    padding: 10px 0;
}
span.dash.left {
    padding-right: 4;
    position: relative;
    top: 1;
}
span.dash.right {
    padding-left: 4;
    position: relative;
    top: 1;
}
i.fab.fa-instagram {
    font-size: 19px;
}
ul.social-items li {
    padding-right: 4px;
}
i.fab.fa-facebook-f {
    font-size: 16px;
    position: relative;
}
i.fas.fa-angle-right {
    transform: rotate(90deg);
    padding: 0 5px;
    color: #fff;
    left: 3px;
    position: relative;
}
.lang a {
    position: relative;
    top: 2px !important;
}
ul.sub-menu1 li {
    padding: 0px 0 !important;
}
a:hover {
    text-decoration: none !important;
}
lang a{
    text-decoration: line-through !important;
}
ul.lang-items a:hover {
    text-decoration: underline !important;
}
/* click events sub menu */


.lang .lang-items {
    border-top: solid 4px #98a7ff;   
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 400ms, visibility 400ms;
    transition: opacity 400ms, visibility 400ms;
    
}
.lang li ul {
    list-style: none;
    background: #ffffff;
    box-shadow: 0px 0px 9px #0000002e;
    position: absolute;
    height: 55px;
    width: 40px;
    border-radius: 4px;
    margin-top: 10px;

}
.lang:hover .lang-items {
    visibility: visible;
    opacity: 1;

    animation: jello .8s;
    -webkit-animation: jello .8s;


}
.lang:hover i.fas.fa-angle-right {
    transform: rotate(270deg) !important;
    -webkit-transform:  rotate(270deg) !important;
}
.sub:hover .fa-angle-right {
    transform: rotate(270deg) !important;
}
ul.social-items i:hover {
    transform: translateY(-2px);
}
div#brand a {
    font-family: 'Dubai Bold';
    text-decoration: none;
    position: relative;
    font-size: 1.3em;
    top: 2px;
}
/******** sub menu *******/

ul.sub-menu1 {
    width: 200px;
    top: 46px;
    position: absolute;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    border-top: solid 4px #98a7ff;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 0px 9px #0000002b;
    box-shadow: 0px 0px 9px #0000002b;
    -webkit-transition: opacity 400ms, visibility 400ms;
    transition: opacity 400ms, visibility 400ms;
    border-radius: 4px;

    
}
ul.sub-menu1 li {
    display: block;
}
ul.sub-menu1 li:hover {
    background:  #f5f5f5;
}
ul.sub-menu1 a {
    padding: 8px 32px;
    width: 100%;
    display: block;
    text-align: left;
    color: #4a4a4a;
}
.show-menu:hover .sub-menu1 {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;

    animation: jello .8s;
    -webkit-animation: jello .8s;
}

/** menu style after scrolling ****/
.before-scroll {
    background: none !important;
    box-shadow: none !important;
    top: 20px !important;
}

/***** header ******/
header{
    height: 100vh;
    min-height: 625px;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23fbfbfb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23f8f8f8' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23f4f4f4' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f1f1f1' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 5px 20px #efefef;
    -moz-box-shadow: 0px 5px 20px #efefef;
    -webkit-box-shadow: 0px 5px 20px #efefef;
    -o-box-shadow: 0px 5px 20px #efefef;
}
.header-contant {
    position: absolute;
    top: 30vh;
    text-align: center;
    width: 100%;
    padding: 0px 40px;
    z-index: 999;
    color: #fff !important;
}
.header-contant h1, span {
    text-align: center;
    font-family: dubai bold !important;
    line-height: 1;
    font-size: 50px;
}
.header-contant p {
    font-size: 20px;
    padding-top: 10px;
    line-height: 1.2;
}
.col-md-6.align-self-start {
    text-align: left;
}
.col-md-6.align-self-end {
    text-align: right;
}

.btn a {
    display: inline-block;
    border: 2px solid #fff;
    padding: 9px 27px;
    color: #fff !important;
    margin: 0px 4px;
    border-radius: 34px;
    padding-top: 13px;
    font-family: dubai bold;
}
.btn a:hover {
    animation: jello 1s;
    -webkit-animation: jello 1s;
    background: #98a7ff;
    -moz-animation: jello 1s;
    color: #fff !important;
    border-color: #98a7ff;
    box-shadow: 0px 0px 20px #98a7ff;
    -webkit-box-shadow: 0px 0px 20px 0px #98a7ff;
    -moz-box-shadow: 0px 0px 20px #98a7ff;
}

.col-12.down-btn {
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px
}
header i.fas.fa-chevron-down {
    color: #fff;
}


.col-12.down-btn i{

    animation: wobble 1s infinite;
    -webkit-animation: wobble 1s infinite;
    -moz-animation: wobble 1s infinite;
    color: black;
}


/* //////////// ! media mobile header ///////// */
@media(max-width:766px){
    .col-md-6.align-self-start {
        text-align: center;
    }
    .col-md-6.align-self-end {
        text-align: center;
    }
    
}

/**** media svg background ***/
@media(max-width:491px){
    header p {
        font-size: 17px !important;
    }
    header h1{
        font-size: 2.5em !important;
    }
    
}

@media(max-width:1207px){
    header{
        background-position: -200px -170px;
    }
}
@media(max-width:1102px){
    header{
        background-position: -250px -170px;
    }
}
@media(max-width:992px){
    header{
        background-image: none !important;
    }
}

/************* main ******/
main {
    max-width: 1615px;
    margin: 0 auto;
    background: url(https://d33wubrfki0l68.cloudfront.net/images/63175a3620a6448f08ae19f51e2b1e9931df33cf/tx.png);
}
#about h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 5rem !important;
    font-family: dubai bold;
}
#about{
    text-align: left;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
section{
    padding-top: 5rem !important;
}
.center-img {
    text-align: center;
}
#about p {

    line-height: 1.3;
    font-size: 1.05em;
    padding-top: 1rem;
}
.center-img img {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

span.bord {
    display: block;
    border-bottom: 3px solid;
    width: 50px;
    padding-top: 8px;
}
@media(max-width:991px){

    #about p, h1 {
        padding: 0 20px !important;
    }
}
@media(max-width:665px){

    header h1, header span {
        font-size: 40px !important;
    }
}
@media(max-width:405px){

    header h1, header span {
        font-size: 30px !important;
    }
    header p{
        font-size: 14px!important;
    }
}

/**** */
ul > :first-child {
    border-radius: 0px 0px 0px 0px;
}
ul > :last-child {
    border-radius: 0px 0px 4px 4px;
}

section span {
    font-size: 16px !important;
}


section h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: dubai bold;
}
span.bord {
    display: block;
    border-bottom: 3px solid;
    width: 50px;
    padding-top: 8px;
    margin: 0 auto;
}
/***     adventages section  ***/
#advantages{
    width: 85%;
    margin: 0 auto;
    position: relative;
    display: block;
    top: -15rem;
}
.contant {
    text-align: center;
    max-width: 305px;
    background: white;
    margin: 0 auto;
    padding: 30px;
    margin-top: 5rem;
    border-radius: 5px;
    border-top: solid 5px #f7f7f7;
    border-bottom: solid 5px #f7f7f7;
    box-shadow: 0px 0px 61px 0px #d6d6d691;
    -webkit-box-shadow: 0px 0px 61px 0px #d6d6d691;
    -moz-box-shadow: 0px 0px 61px 0px #d6d6d691;
    -o-box-shadow: 0px 0px 61px 0px #d6d6d691;
    cursor: pointer;
}
.contant .fas, .far {
    font-size: 4em !important;
    padding: 1rem 0;
    padding-bottom: 0;
}
.contant h3 {
    font-family: dubai bold;
    font-size: 23px;
    line-height: 1;
    padding: 20px 0;
}
.contant p {
    line-height: 1.4;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0.5rem;
}
.contant:hover {
    transform: translateY(-15px);
    border-bottom: solid 5px #98a7ff;
}
.contant:hover > i {
    color: #98a7ff;
    animation: bounceIn .9s;
    -webkit-animation: bounceIn .9s;
    -moz-animation:  bounceIn .9s;
    -o-animation:  bounceIn .9s;
}
.contant:hover > h3 {
    color: #98a7ff;
}
#advantages .down-btn {
    top: 16px;
    padding-top: 10px;
}
/***** vedio media header *****/

video {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    top: -15rem;
    left: 0;
}
.video-wrap{

     height: 100vh;
     background: #3F51B5;
     opacity: 0.85;
     width: 100%;
     display: block;
     position: absolute;
     z-index: 99;
     min-height: 625px;
}

/** vedio media position **/
@media(max-width:956px){
    video {
        left: -25rem;
        top: -15rem;
    }
}
@media(max-width:629px){
    video {
        left: -40rem;
        top: -15rem;
    }
}

@media(min-width:1840px){
    video {
        width: 100%;

    }
}

.row.max-width {
    width: 82%;
    border-top: solid 4px #f1f1f1;
    margin: 0 auto !important;
    border-radius: 4px;
    background-color: white;
    z-index: 999;
    top: -16rem;
    position: relative;
    padding: 65px 40px;
    box-shadow: 0px 0px 80px #e3e3e3;
    -webkit-box-shadow: 0px 0px 80px #e3e3e3;
    -moz-box-shadow: 0px 0px 80px #e3e3e3;
    -o-box-shadow: 0px 0px 80px #e3e3e3;
    border-bottom: solid 4px #f5f5f5;
}
/*** swiper slide ***/

#about b {
    background: #f5f5f5;
    border-radius: 25px;
    padding: 0 15;
    position: relative;
    color: #868686;
    padding-top: 3px;
}
@media(max-width:785px){
    .row.max-width {
        padding: 55px 10px;

    }
}
@media(max-width:407px){
    #about p, h1 {
        padding: 0 3px !important;
    }
}
.full {
    position: relative;
    top: -14px;
    left: -20px;
}

/*** dark version **/

ul.lang-items li a {
    color: #343434 !important;
}