*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear: both;
    transition: none;
    font-family:  'Dubai Light';
}

/** install font-family **/
@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Regular'), url('../fonts/Dubai-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('../fonts/Dubai-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Medium'), url('../fonts/Dubai-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Dubai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Bold'), url('../fonts/Dubai-Bold.woff') format('woff');
    }
/****/

body{
    background-color: #ffffff;
}
/*///// loader-wrapper /////*/
.loader-wrapper {
    height: 100vh;
    z-index: 999999999;
    position: relative;
    background: #191919;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    right: -48%;
    position: relative;
    border: 4px solid #Fff;
    top: 48%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
  
/*****/
/***  top bar style ***/
nav.navbar {
    text-align: center;
    display: block;
    height: 50px;
    cursor: default;
    z-index: 99999999;
    
}
div#brand {
    display: inline-block;
    top: 2px;
    position: relative;
    font-family: 'Dubai Bold'
}
ul.menu-items li {
    display: inline-block;
    text-align: center;
    padding: 11px 6px;

}
ul.menu-items {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 1px;
}
ul.social-items {
    display: inline-block;
    list-style: none;
}
.lang {
    display: inline-flex;
    padding: 0px 15px;
    list-style: none;
    position: relative;
    top: 1;
}
i {
    vertical-align: middle;
    
}
ul.social-items li {
    display: inline-block;
}
nav.navbar {
    padding: 0px;
    background: #ffffff;
    box-shadow:0px 0px 9px #0000001f;
    -webkit-box-shadow:0px 0px 9px #0000001f;
    position: fixed;
    width: 100%;
}
span.dash {
    padding: 0px 20px;
    color: black;
    opacity: 0.1;
    font-size: 15px;
}
nav.navbar a {
    color: black;
    font-size: 17px;
    position: relative;
    top: 1px;
 
}
.menu-items a{
    padding: 10px 0;
}
span.dash.left {
    padding-right: 4;
    position: relative;
    top: 1;
}
span.dash.right {
    padding-left: 4;
    position: relative;
    top: 1;
}
i.fab.fa-instagram {
    font-size: 19px;
}
ul.social-items li {
    padding-right: 4px;
}
i.fab.fa-facebook-f {
    font-size: 16px;
    position: relative;
}
i.fas.fa-angle-right {
    transform: rotate(90deg);
    padding: 0 5px;
    color: black;
    left: 3px;
    position: relative;
}
.lang a {
    position: relative;
    top: 2px !important;
}
ul.sub-menu1 li {
    padding: 0px 0 !important;
}
a:hover {
    text-decoration: none !important;
}
lang a{
    text-decoration: line-through !important;
}
ul.lang-items a:hover {
    text-decoration: underline !important;
}
/* click events sub menu */


.lang .lang-items {
    
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity 400ms, visibility 400ms;
 transition: opacity 400ms, visibility 400ms;
    
}
.lang li ul {
    list-style: none;
    background: #ffffff;
    box-shadow: 0px 0px 9px #0000002e;
    position: absolute;
    height: 55px;
    width: 40px;
    border-radius: 4px;
    margin-top: 10px;

}
.lang:hover .lang-items {
    visibility: visible;
    opacity: 1;

    animation: jello .8s;
    -webkit-animation: jello .8s;


}
.lang:hover i.fas.fa-angle-right {
    transform: rotate(270deg) !important;
    -webkit-transform:  rotate(270deg) !important;
}
.sub:hover .fa-angle-right {
    transform: rotate(270deg) !important;
}
ul.social-items i:hover {
    transform: translateY(-2px);
}
div#brand a {
    font-family: 'Dubai Bold';
    text-decoration: none;
}
/******** sub menu *******/

ul.sub-menu1 {
    width: 200px;
    top: 46px;
    position: absolute;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 0px 9px #0000002b;
    box-shadow: 0px 0px 9px #0000002b;
    -webkit-transition: opacity 400ms, visibility 400ms;
    transition: opacity 400ms, visibility 400ms;
    border-radius: 4px;

    
}
ul.sub-menu1 li {
    display: block;
}
ul.sub-menu1 li:hover {
    background: #f3f3f3;
}
ul.sub-menu1 a {
    padding: 8px 32px;
    width: 100%;
    display: block;
    text-align: left;
    color: #4a4a4a;
}
.show-menu:hover .sub-menu1 {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;

    animation: jello .8s;
    -webkit-animation: jello .8s;
}

/** menu style after scrolling ****/
.before-scroll {
    background: none !important;
    box-shadow: none !important;
    top: 20px !important;
}

/***** header ******/
header{
    height: 100vh;
    min-height: 625px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23fbfbfb' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23f8f8f8' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23f4f4f4' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f1f1f1' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ededed' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.header-contant {
    position: absolute;
    top: 30vh;
    text-align: center;
    width: 100%;
    padding: 0px 40px;
}
.header-contant h1, span {
    text-align: center;
    font-family: dubai bold !important;
    line-height: 1;
    font-size: 50px;
}
.header-contant p {
    font-size: 20px;
    padding-top: 10px;
    font-style: italic;
    line-height: 1.3;
}
.col-md-6.align-self-start {
    text-align: left;
}
.col-md-6.align-self-end {
    text-align: right;
}

.btn a {
    display: inline-block;
    border: 2px solid #d8d8d8;
    padding: 9px 27px;
    margin: 0px 4px;
    border-radius: 34px;
    padding-top: 13px;
    font-family: dubai bold;
    color: black;
}
.btn a:hover {
    animation: jello 1s;
    -webkit-animation: jello 1s;
    -moz-animation: jello 1s;
    box-shadow: 0px 0px 12px #00000030;
    -webkit-box-shadow: 0px 0px 12px #00000030;
    -moz-box-shadow: 0px 0px 12px #00000030;
}

.col-12.down-btn {
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 5px
}


.col-12.down-btn i{

    animation: wobble 1s infinite;
    -webkit-animation: wobble 1s infinite;
    -moz-animation: wobble 1s infinite;
    color: black;
}


/* //////////// ! media mobile header ///////// */
@media(max-width:766px){
    .col-md-6.align-self-start {
        text-align: center;
    }
    .col-md-6.align-self-end {
        text-align: center;
    }
    
}

/**** media svg background ***/
@media(max-width:491px){
    header p {
        font-size: 17px !important;
    }
    header h1{
        font-size: 2.5em !important;
    }
    
}

@media(max-width:1207px){
    header{
        background-position: -200px -170px;
    }
}
@media(max-width:1102px){
    header{
        background-position: -250px -170px;
    }
}
@media(max-width:992px){
    header{
        background-image: none !important;
    }
}

/************* main ******/
main {
    box-shadow: 0px -6px 6px #efefef;
}
#about h1 {
    text-align: left;
    padding:0;
    margin: 0;
    margin-bottom: 2rem !important;
    font-family: dubai bold;
}
#about{
    text-align: left;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
section{
    padding-top: 5rem !important;
}
.center-img {
    text-align: center;
}
#about p {
    padding-right: 55px;
    padding-right: 55px;
    line-height: 1.4;
    font-size: 1.1em;
}
.center-img img {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

span.bord {
    display: block;
    border-bottom: 3px solid;
    width: 50px;
    padding-top: 8px;
}
@media(max-width:991px){

    #about p, h1 {
        padding: 0 20px !important;
    }
}
@media(max-width:665px){

    header h1, header span {
        font-size: 40px !important;
    }
}
@media(max-width:405px){

    header h1, header span {
        font-size: 30px !important;
    }
    header p{
        font-size: 14px!important;
    }
}

/**** */
ul > :first-child {
    border-radius: 4px 4px 0px 0px;
}
ul > :last-child {
    border-radius: 0px 0px 4px 4px;
}

section span {
    font-size: 16px !important;
}